@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
    font-family: 'Roboto',sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c1563;
}

.operators
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.calculator
{
    width: 20vw;
    height: 60vh;
    padding: 2vh 1vw;
    background-color: #1d1d1d;
    border-radius: 10px;
    box-shadow: 3px 3px 4px #000;
}

.keyboard
{
    display: flex;
}

.digits
{
    display: flex;
    flex-wrap: wrap;
    gap: 1vh
}

.digits button:hover
{
    background-color: #4035b9;
    color: #fff;
}

.display
{
    padding: 1vh;
    border: #fff solid 2px;
    border-radius: 15px;
    background-color: #313131;
    height: 10vh;
    color: #fff;
    font-size: 20px;
    overflow:hidden;
}

.result
{
    font-size: 25px;
    font-weight: bold;
    text-align: end;
}

.operation
{
    width: 20;
    height: 3vh;
}

.keyboard button
{
    border: none;
    height: 7vh;
    width: 4vw;
    border-radius: 90px;    
    font-size: 20px;
    box-shadow: 3px 3px 3px #000;
}

.operator
{
    background-color: #4035b9;
    color: #fff;
}

.operator:hover
{
    background-color: #fff;
    color:#4035b9
}

.reset
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1vh;
    height: 12vh;
}

.reset button
{
    border: none;
    border-radius: 20px;
    height: 8vh;
    width: 9vw;
    font-size: 20px;
    box-shadow: 3px 3px 3px #000;
}