*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.operators
{
    display: flex;
    flex-direction: column;
}

.digits
{
    display: flex;
    flex-wrap: wrap;
}

.display
{
    border: #000 solid 2px;
    height: 5vh;
}